#!/usr/bin/env bash

if [[ "$0" == "${BASH_SOURCE[0]}" ]]; then
    echo "You must install autocomplete using command: source \"${BASH_SOURCE[0]}\""
    exit 1
fi

{{functionName}}() {
    {{#if @root.autocomplete.file}}
    fileAutocomplete() {
        lastWord="$1"
        if [[ -d "$lastWord" && ! $lastWord =~ /$ ]]; then
            # if is directory and doesn't have trailing '/' append '/'.
            compopt -o nospace &> /dev/null
            {{#if @root.bash3}}
            while read -r; do COMPREPLY+=( "$REPLY" ); done < <(compgen -W "$lastWord/" -- "$lastWord")
            {{else}}
            readarray -t COMPREPLY < <(compgen -W "$lastWord/" -- "$lastWord")
            {{/if}}
        else
            compopt -o filenames &> /dev/null
            {{#if @root.bash3}}
            while read -r; do COMPREPLY+=( "$REPLY" ); done < <(compgen -f "$lastWord" -- "$lastWord")
            {{else}}
            readarray -t COMPREPLY < <(compgen -f "$lastWord" -- "$lastWord")
            {{/if}}
        fi
    }
    {{/if}}

    {{#if @root.autocomplete.dir}}
    dirAutocomplete() {
        lastWord="$1"
        if [[ -d "$lastWord" && ! $lastWord =~ /$ ]]; then
            # if is directory and doesn't have trailing '/' append '/'.
            compopt -o nospace &> /dev/null
            {{#if @root.bash3}}
            while read -r; do COMPREPLY+=( "$REPLY" ); done < <(compgen -W "$lastWord/" -- "$lastWord")
            {{else}}
            readarray -t COMPREPLY < <(compgen -W "$lastWord/" -- "$lastWord")
            {{/if}}
        else
            compopt -o dirnames &> /dev/null
            {{#if @root.bash3}}
            while read -r; do COMPREPLY+=( "$REPLY" ); done < <(compgen -d "$lastWord" -- "$lastWord")
            {{else}}
            readarray -t COMPREPLY < <(compgen -d "$lastWord" -- "$lastWord")
            {{/if}}
        fi
    }
    {{/if}}

    local cur=${COMP_WORDS[COMP_CWORD]}
    local compwords=("${COMP_WORDS[@]:1:$COMP_CWORD-1}")
    local compline="${compwords[*]}"
    case "$compline" in
        {{#each commands}}
        {{this.pattern}})
            {{#if this.raw}}
            {{this.action}}
            {{else}}
            {{#if @root.bash3}}
            while read -r; do COMPREPLY+=( "$REPLY" ); done < <({{this.action}})
            {{else}}
            readarray -t COMPREPLY < <({{this.action}})
            {{/if}}
            {{/if}}
            ;;
        {{/each}}
    esac
} && complete -F {{functionName}} "{{command}}"
